.author-section {
}
.color-bg {
  background-color: #f5f6fa;
  padding: 80px 0px;
  margin: 50px 0px;
}
.heading3 {
  text-align: center;
  padding-bottom: 50px;
}

.heading3 h2 {
  text-align: center;
  color: rgb(62, 67, 89);
  font-weight: 600;
  margin: 0px;
  padding: 0px;
  font-size: 20px;
  font-family: "TiemposHeadline", serif;
}

.author-flex {
  height: 100%;
  background-color: #fff;
  padding: 48px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.author-img {
  width: 48%;
  height: 75%;
}
.author-div img {
}
.author-align {
  align-items: center;
  justify-content: center;
}

.author-div {
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  /* width: 50%; */
  /* height: 50%; */
  border-radius: 50%;
}

.heading-level-5 {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 11px;
  letter-spacing: 1.2px;
  line-height: 20px;
  color: #474d66;
  margin: 0 0 32px 0;
  color: #4d5c99;
}

.heading-level-3 {
  font-family: "TiemposHeadline";

  font-weight: 600;
  margin: 0 0 20px 0;
  padding: 0;
  font-size: 20px;
  line-height: 0px;
  letter-spacing: normal;
}

.heading-level-3 a {
  color: #474d66 !important;
}

.author-para {
  font-weight: 400;
  font-family: "TiemposText";
  margin: 0 0 2.5rem 0;
  font-size: 15px;
  line-height: 24px;
  letter-spacing: -0.09px;
  color: #3b3f54;
}
